*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: aqua;
}


.block{
    text-align: center;
}
.nm, .tb{
    display: none;
}


@media screen and (max-width: 768px) {
    /* For tablets: */
    body{
        background-color: rgb(229, 255, 0);
    }

    .nm{
        display: block;
    }
  
  }
  @media screen and (max-width: 576px) {
    /* For desktop: */
    body{
        background-color: rgb(9, 255, 0);
    }
    .tb{
        display: block;
    }
  }