* {
	margin: 0px;
	padding: 0px;
	
}

body{
	background-color: deeppink;
}
#wrapper{

}

.box{
	height: 400px;
	width: 800px;
	border: 1px solid black;
	margin: 20px auto;
	background-color: white;
}

.header{
	background-color: blueviolet;
	height: 80px;
	display: flex;
	font-size: 19px;
	color: white;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
}

.header-left{
	display: flex;
	

}

.header-right{
	display: flex;

}

.btn-header{
	margin: 5px;
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid black;
}

.btn-header{
	margin: 5px;
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid blueviolet;
}

.btn-header:hover{
	background-color: rgb(111, 62, 156);
}

.icon{
	margin: 5px;
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid blueviolet;
}

.icon:hover{
	background-color: rgb(111, 62, 156);
}

.content{
	text-align: center;
	
}