* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #bb7494;
}

.box {
	height: 550px;
	width: 1000px;
	border: 1px #a26881;
	border-radius: 10px;
	margin: 20px auto;
	background-color: white;
	box-shadow: 5px 5px 5px #a66b87;
}

.header {
	background-image: linear-gradient(to right, #8b4989, #81749f);
	border-radius: 9px 9px 0 0;
	height: 15%;
	display: flex;
	font-size: 19px;
	color: white;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	display: flex;
}

.header-right {
	display: flex;
}

.btn-header {
	margin: 5px;
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid black;
}

.btn-header {
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid transparent;
	transition: 0.25s all;
}

.btn-header:hover {
	background-color: #663d69;
}

.icon {
	padding: 8px 15px;
	border-radius: 30px;
	border: 1px solid transparent;
	transition: 0.25s all;
}

.icon:hover {
	background-color: #663d69;
}

.content {
	display: flex;
	height: 85%;
	align-items: center;
	justify-content: center;
}
