

#wrapper{
    
}

.header{
    height: 70px;
    position: relative;
    
}
.header-content{
    display: flex;
    position: absolute;
    right:0;
    
}

.sign-in-btn{
    background-color: #3f85e2;
    width: 110px;
    border: 2px solid #3f85e2;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    padding: 10px;
}



.sign-in-btn >a{
    
    display: block;
    text-align: center;
}

.sign-in-btn >a > span{
    
    font-size: 18px;
    color: white;
}

.h-icon{
    margin: 10px 10px 0px 0px;
    padding: 12px 10px 8px 10px;
    
}
.h-icon > a > span > i{
    font-size: 20px;
}

.h-image{
    margin: 10px 10px 0px 0px;
    padding: 10px;
}

.h-gmail{
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.google{
    min-height: 200px;
}



.content{
    max-height: 160px;
}