* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 10px;
}

body {
    background-color: aqua;
}



li {
	list-style: none;
}

a{
	text-decoration: none;
}

/* .padding-content{
	padding-left: 360px;
	padding-right: 360px;
	padding: 30px auto 0 auto;
} */

.container{
	max-width: 1200px;
	margin: auto;	
}


.line-w-60{
	width: 60px; /*60px*/
	border: 1px solid white;
	display: inline-block;
	
}

.line-w-280{
	width: 280px;
	border: 3px solid white;
	display: inline-block;
	z-index: 0;
}

.line-w-280-hover{
	width: 280px;
	border: 3px solid rgb(255, 0, 0);
	display: inline-block;
	position: absolute;
	top:-3px;
	left: -3px;
	z-index: 1;
}



.relative{
	position: relative;
}

.margin-bot-40{
	margin-bottom: 40px;
}

.margin-bot-60{
	margin-bottom: 60px;
}

.margin-bot-15{
	margin-bottom: 15px;
}

h2{

}

h1{

}

h3{
	
}