/* 
h = 1080
w = 1920 
*/

/* --------------header--------------- */

.header {
	height: 1000px;
	
}

.header-banner {
	height: 1000px;
	width: 100%;
	background-image: linear-gradient(to bottom, #f48c829f, #fce38a),
		url(../img/hero.png);
	background-repeat: no-repeat;
	background-position: center; /* Center the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	background-size: 100% 100%;
	position: absolute;
	z-index: -1;
}

.header-navbar {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: white;
}

.header-navbar-left {
	font-size: 4rem;
	font-weight: bold;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
}

.header-navbar-right > ul {
	display: flex;
}

.header-navbar-right > ul li {
	margin-right: 30px;
	padding-bottom: 10px;
	font-size: 1.9rem;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
}

.header-navbar-right > ul :nth-child(7) {
	margin-right: 0;
}

.header-navbar-right > ul :nth-child(6) > a > i,
.header-navbar-right > ul :nth-child(7) > a > i {
	color: white;
	font-size: 1.9rem;
}

.header-navbar-active {
	color: #fce38a;
	border-bottom: 3px solid;
}

.header-content {
	text-align: center;
	color: white;
	margin-top: 105px;
}

.header-content-sub {
	font-size: 9rem;
	font-style: italic;
	font-family: "Kaushan Script", cursive;
	color: white;
}

.header-content-main a {
	font-size: 17rem;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
}

.header-content-main :last-child {
	display: block;
	margin-top: -50px;
	margin-bottom: 60px;
}

.header-content-btn {
	margin-top: 60px;

}

.header-content-btn > button {
	color: white;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
	font-size: 1.5rem;
	font-family: "Montserrat", sans-serif;
	padding: 12px 30px;
}

.header-banner-footer {
	margin-top: 100px;
}

.header-banner-footer > ul {
	display: flex;
	height: 10%;
	justify-content: center;
	align-items: flex-end;
}

.header-banner-footer > ul li {
	margin-left: 30px;
	width: 280px;
	color: white;
	text-transform: uppercase;
}

.header-banner-footer > ul:first-child {
	margin-left: 0;
}

.header-banner-footer > ul li :nth-child(2) {
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

.header-banner-footer > ul li :nth-child(3) {
	font-size: 1.5rem;
	font-family: "Montserrat", sans-serif;
}

/* ---------------about-us: what we do------------------- */

.about-us {
	height: 750px;
	background-color: white;
	text-align: center;
}

.about-us-content {
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us-content :nth-child(1) {
	font-size: 3.2rem;
	font-family: "Kaushan Script", cursive;
}

.about-us-content :nth-child(2) {
	font-size: 4rem;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.about-us-content :nth-child(4) {
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
	color: #b6b6b6;
	max-width: 960px;
}

.about-us-image-contain {
	margin-top: 100px;
	margin-bottom: 110px;
}

.about-us-image-contain > ul {
	display: flex;
	justify-content: space-between;
}

.about-us-image-contain > ul li > img {
	width: 100%;
}

/* ---------------fact------------------- */

.fact {
	height: 270px;
	background-color: #95e1d3;
}

.fact-content {
	display: flex;
	justify-content: space-around;
	text-align: center;
	height: 100%;
}

.fact-content div {
	border-left: 1px solid #b5eae0;
	width: 20%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fact-content div:last-child {
	border-right: 1px solid #b5eae0;
}

.fact-content div :nth-child(1) {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 9.6rem;
}

.fact-content div :nth-child(2) {
	font-family: "Montserrat", sans-serif;
	font-size: 1.9rem;
	text-transform: uppercase;
}

/* --------------service------------- */
.service {
	height: 650px;
	background-color: white;
	text-align: center;
}

.service-content {
	padding-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-box {
	display: flex;
	height: 50%;
}

.service-box ul {
	display: flex;
	flex-wrap: wrap;
}

.service-box ul li {
	display: flex;
	width: 33.33%;
	border-bottom: 1px solid black;
	padding: 45px 0 50px 30px;
}

.service-box ul :nth-child(4),
.service-box ul :nth-child(5),
.service-box ul :nth-child(6) {
	border-bottom: none;
}

.service-box ul li a {
	padding-right: 28px;
}

.service-box ul li a img {
	width: 45px;
}

.service-box ul li div {
	text-align: left;
}

.service-box ul li p:nth-child(1) {
	font-family: "Montserrat", sans-serif;
	font-size: 1.9rem;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.service-box ul li p:nth-child(2) {
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
	color: #b6b6b6;
}

/* -------------feature-------------- */

.feature {
	height: 900px;
}

.feature-banner {
	height: 862px;
	width: 100%;
	background-image: url(../img/Layer45.png);
	background-color: #b6b6b6;
	opacity: 0.2;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: -1;
}

.feature-image {
	position: absolute;
	bottom: 4%;
	left: 47%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.feature-image :nth-child(2) {
	position: absolute;
	position: absolute;
	left: 72%;
	top: 36%;
}

/* ---------------------service2----------------- */

.service2 {
	height: 900px;
	background-color: white;
	text-align: center;
}

.service2-box {
	display: flex;
	text-align: left;
}

.service2-box > img {
	width: 50%;
}

.service2-box > ul {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.service2-box > ul li {
	border: 1px solid black;
}

.service2-box > ul li > p {
	padding: 20px 50px 25px 20px;
}

.service2-box-head {
	display: flex;
	align-items: center;
	padding: 10px;
}

.service2-box-head > a {
	padding-right: 15px;
}

/* ------------------quote------------------- */

.quote {
	height: 290px;
	background-color: #f8f8f8;
	display: flex;
}

.quote-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quote-content-arr {
	font-size: 2.5rem;
	color: #cccccc;
}

.quote-content > img {
	border: 3px solid #95e1d3;
	padding: 40px;
}

.quote-content-inner {
	width: 70%;
}

/* --------------------our team---------------- */

.our-team {
	height: 1050px;
	background-color: white;
	text-align: center;
}

.our-team-image-contain {
	margin-top: 100px;
	margin-bottom: 110px;
}

.our-team-image-contain > ul {
	display: flex;
	justify-content: space-between;
}

.our-team-image-contain > ul li > img {
	width: 100%;
}

.our-team-image-contain > ul li {
	display: flex;
	flex-direction: column;
}

.our-team-image-contain > ul li :nth-child(2) {
	color: black;
	margin-top: 30px;
	margin-bottom: 15px;
}

/* ----------------logo----------------- */

.logo {
	height: 250px;
	background-color: #f8f8f8;
	display: flex;
}

.logo img {
	width: 100%;
}

/* -----------------work--------------------- */

.work {
	
	background-color: white;
	text-align: center;
}

.work-image-contain {
	margin-top: 90px;
	display: flex;
	align-items: flex-end;
	
}

.work-image-contain-box {
	
	font-size: 0rem;
	display: flex;
	flex-direction: column;
    width: 25%;
	
}

/* ------------------quote 2------------------- */

.quote2 {
	background-color: #ffffff;
}

.quote2 .quote-content img{
	border: none;
}

/* ---------------happy client------------------- */

.client-banner {
	height: 900px;
	width: 100%;
	background-image: url(../img/Layer53.png);
	background-color: #b6b6b6;
	opacity: 0.2;
	background-repeat: no-repeat;
	background-size: 100% 150%;
	position: absolute;
	z-index: -1;
}

.client-box ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 75px;
}

.client-box > ul > li  {
	width: 45%;
	display: flex;
}

.client-box > ul li > img {
	height: 70%;
	
}

.client-box > ul li > div {
	display: flex;
	flex-direction: column;
	margin: 10px 0 0 30px;
	
}

.client-box > ul li > div > p{
	line-height: 3rem;
	
}

/* --------------------------our story-------------------- */

.our-story-image-contain {
	margin-top: 50px;
	text-align: left;
}

.our-story-image-contain > ul {
	display: flex;
	justify-content: space-between;
}

.our-story-image-contain > ul li{
	width: 30%;
}


.our-story-image-contain > ul li > img {
	width: 100%;
}

.our-story-image-contain > ul li > div {
	width: 100%;
}